@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}
.main{
    color: #f7f2e9;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cabecalho{
    width: 100;
    height: 0;
    list-style: none;
    display:flex;
    justify-content: left;
    color: #f7f2e9;
    position: relative;
    margin-left:40px;

}
.cabe{
    text-decoration:none;
    color:#F2F2F2;
    margin-right: 20px;
    position: relative;
    top:70px;
    font-weight:bold;
}
span{
    font-weight: 600;
}
.letra-curriculo{
    font-weight: 200;
}

.cabe:hover{
    text-decoration:none;
    color: #A69281;
    margin-right: 20px;
    position: relative;
    top:70px;
    font-weight:bold;
    transition: all 0.2s ease-in-out;
}

.box{
    z-index: 99;
    text-align: center;
    position: relative;
    top:-45px;
}
box h4:last-child{
    margin-bottom:50px;
}
.bloco{
    background-color: #594539;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 17vh; 

}

body{
    background-color: #A69281;
    font-family: 'Poppins';
    
}
.img{
    width: 130px;
    height: 140px;
    border-radius: 100%;
    position: relative;
    top:-30px;
}
.lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.git{
    width: 35px;
    height: 30px;
    position: relative;
    margin-right: 10px;
    bottom: -3px;
    cursor: pointer;
}
.git:hover{
    width: 35px;
    height: 30px;
    margin-right: 10px;
    bottom: -3px;
    cursor: pointer;
    filter: invert(15%);
    transition: all 0.2s ease-in-out;
}
.linke{
    width: 35px;
    height: 30px;
    position: relative;
    margin-right: 25px;
    bottom: -3px;
    cursor: pointer;
}
.linke:hover{
    width: 35px;
    height: 30px;
    position: relative;
    margin-right: 25px;
    bottom: -3px;
    cursor: pointer;
    filter: invert(15%);
    transition: all 0.2s ease-in-out;
}

.h2{
    font-size: 25px;
    margin-left:0px;
    margin-right:2px;

}
.resumo{
    position: relative;
    bottom:-0px;
    padding-bottom: 8px;

}
.email{
    width: 30px;
    height: 30px;
    position: relative;
    top:10px;
    margin-right: 7px;
    margin-left: 2px;
    bottom: -3px;
}
.noticias{
    border-radius: 2px;
    font-family: Fira Sans;
    width: 350px;
    height: 25px;
    border-color: rgba(255, 255, 255, 0);
}
.texto{
    border-radius: 2px;
    font-family: Fira Sans;
    width: 350px;
    height: 150px;
    border-color: rgba(255, 255, 255, 0);
}
.botao{
    height: 35px;
    width: 85px;
    font-family: Fira Sans;
    font-weight: bold;
    cursor: pointer;
    color:black;
}
.botao:hover{
    height: 35px;
    width: 85px;
    font-family: Fira Sans;
    font-weight: bolder;
    cursor: pointer;
    color:black;
    background-color: rgb(199, 199, 199);
    border-color: rgba(255, 255, 255, 0);
    border-radius: 2px;
}


.bk_menu_mobile{
    background-color: rgb(70, 40, 40);
    width: 40vw;
    position: absolute;
    height: 100vh;

}

#bt{
    display: none;
}

@media screen and (min-width: 230px) and (max-width: 750px){
    .cabecalho{
        height:  100px;
        justify-content: center;
        font-size:15px ;
        flex-direction: column;
        display: none;
    }
    ul a{
        margin-top:-45px ;
        margin-bottom: 3.7rem;
        margin-left:-15px;
        display: flex;
        flex-direction: column;
    }
    .bloco{
        height: 23vh;
    }
    ul li{
        width: 90px;
    }

    .background{
        display: none;
    }
    label[for="bt"] {
        margin-left:5px;
        color: #A69281;

        font-size: 30px;
    }

}